body {
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-size: cover;
  }

  h1 {
    font-family: 'Sue Ellen Francisco', cursive;
  }