body {
  background-image: url(https://raw.githubusercontent.com/mariabrock/exploring-apollo/master/exploring-apollo.ui/exploring-apollo/src/helpers/images/nasa-Q1p7bh3SHj8-unsplash.jpg);
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-size: cover;
  }

  h1 {
    font-family: 'Sue Ellen Francisco', cursive;
  }