body {
  background-image: url(https://raw.githubusercontent.com/mariabrock/exploring-apollo/master/exploring-apollo.ui/exploring-apollo/src/helpers/images/apollo17launch.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  }

  h1 {
    font-family: 'Sue Ellen Francisco', cursive;
  }