@import '~materialize-css';
@import '~bootstrap/dist/css/bootstrap.min.css';
body {
  margin: 0;
  font-family: 'East Sea Dokdo', cursive;
  font-family: 'Just Me Again Down Here', cursive;
  font-family: 'Sue Ellen Francisco', cursive;
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'East Sea Dokdo', cursive;
  font-family: 'Just Me Again Down Here', cursive;
  font-family: 'Sue Ellen Francisco', cursive;
  font-family: 'VT323', monospace;
}
